body, figure {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  color: #444444; }

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 50px 0; }
  @media print, (min-width: 768px) {
    h1 {
      font-size: 50px;
      letter-spacing: 6px; } }

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 10px 0; }
  @media print, (min-width: 768px) {
    h2 {
      font-size: 28px;
      letter-spacing: 4px; } }

strong {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 6px 0 0; }
  @media print, (min-width: 768px) {
    strong {
      letter-spacing: 1px;
      font-size: 15px; } }

.hide {
  display: none; }

p {
  margin: 0 0 10px 0; }

.icon {
  display: inline-block;
  width: 50px;
  height: 50px; }

.page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  @media print, (min-width: 768px) {
    .page {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      max-width: 1100px;
      margin: 0 auto; } }

header {
  background-color: #d5e5e4;
  text-align: center; }
  header > section {
    padding: 20px 0; }
  header > section:not(:last-child) {
    border-bottom: 2px solid #444444; }
  @media print, (min-width: 768px) {
    header {
      -webkit-flex: 0 0 310px;
          -ms-flex: 0 0 310px;
              flex: 0 0 310px;
      padding: 60px 20px 60px 20px; } }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  main > section {
    padding: 20px 0;
    margin: 0 20px; }
    @media print, (min-width: 768px) {
      main > section {
        margin: 0 60px; } }
  @media print, (min-width: 768px) {
    main {
      padding-top: 60px; } }

footer {
  padding: 20px 20px 60px 20px;
  background-color: #f2f1eb; }
  @media print, (min-width: 768px) {
    footer {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      padding: 20px 60px 60px 60px; } }

.contact-box {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  @media print, (min-width: 768px) {
    .contact-box {
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.contact-box-icon {
  margin-right: 15px; }
  @media print, (min-width: 768px) {
    .contact-box-icon {
      display: initial; } }

.contact-box-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-right: 15px; }
  @media print, (min-width: 768px) {
    .contact-box-info {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

.profile {
  border-bottom: 2px solid #444444; }

.experience {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.header-centered {
  text-align: center; }

.centered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px; }

.icon-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.icon-header-icon {
  margin-right: 10px; }

.offset-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media print, (min-width: 768px) {
    .offset-list {
      margin-left: 25px;
      border-left: 1px solid #444444; } }

.offset-list-item {
  margin-bottom: 20px; }
  @media print, (min-width: 768px) {
    .offset-list-item {
      margin-left: 20px;
      position: relative; }
      .offset-list-item:before {
        background-color: white;
        border-radius: 50%;
        border: 2px solid #444444;
        content: "";
        display: block;
        height: 15px;
        left: -27.5px;
        position: absolute;
        top: 50%;
        width: 15px; } }

.subtitle-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.subtitle-header-title {
  margin-right: 10px; }
