body, figure {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@media print {
  @page {
    margin: 0; }
 }

a {
  color: #006b64; }
  a:active {
    color: #444444; }
  a:hover, a:focus {
    color: #444444; }
  a:link {
    color: #006b64; }
  a:visited {
    color: #80b1ae; }

body {
  font-family: 'Lato', sans-serif;
  color: #444444; }
  @media print {
    body {
      zoom: 64%; } }

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 50px 0;
  text-transform: uppercase; }
  @media print, (min-width: 768px) {
    h1 {
      font-size: 50px;
      letter-spacing: 6px; } }

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  text-transform: uppercase; }
  @media print, (min-width: 768px) {
    h2 {
      font-size: 28px;
      letter-spacing: 4px; } }

strong {
  font-size: 15px;
  font-weight: 700;
  margin: 0 6px 0 0;
  text-transform: uppercase; }
  @media print, (min-width: 768px) {
    strong {
      letter-spacing: 1px;
      font-size: 15px; } }

ul {
  padding-left: 20px; }

li {
  white-space: normal; }

body > svg {
  display: none; }

p {
  margin: 0 0 10px 0; }

.icon {
  display: inline-block;
  fill: currentColor;
  height: 50px;
  width: 50px; }

.offset-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media print, (min-width: 768px) {
    .offset-list {
      margin-left: 25px;
      border-left: 1px solid #444444; } }

.offset-list-item {
  margin-bottom: 20px; }
  @media print, (min-width: 768px) {
    .offset-list-item {
      margin-left: 20px;
      position: relative; }
      .offset-list-item:before {
        background-color: white;
        border-radius: 50%;
        border: 2px solid #444444;
        content: "";
        display: block;
        height: 15px;
        left: -28.5px;
        position: absolute;
        top: 7.5px;
        width: 15px; } }

.centered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px; }

.icon-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.icon-header-icon {
  margin-right: 10px; }

.icon-header-title {
  margin-bottom: 0; }

.subtitle-header {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 10px; }
  @media print, (min-width: 768px) {
    .subtitle-header {
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.subtitle-header-title {
  margin-bottom: 0;
  margin-right: 10px; }

.project-list-item {
  list-style-type: disc; }

.page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  @media print, (min-width: 768px) {
    .page {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .page {
      max-width: 1100px; } }

header {
  background-color: #d5e5e4;
  text-align: center; }
  @media print, (min-width: 768px) {
    header {
      -webkit-flex: 0 0 310px;
          -ms-flex: 0 0 310px;
              flex: 0 0 310px;
      padding: 20px 20px 20px 20px; } }

.header-section {
  padding: 20px 0; }
  .header-section:not(:last-child) {
    border-bottom: 2px solid #444444; }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%; }
  @media print, (min-width: 768px) {
    main {
      padding-top: 20px; } }

.main-section {
  padding: 20px 0;
  margin: 0 30px; }
  @media print, (min-width: 768px) {
    .main-section {
      margin: 0 50px 0 30px; } }

.profile {
  border-bottom: 2px solid #444444; }

.experience {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  padding: 20px 30px 20px 30px;
  background-color: #f2f1eb;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  @media print, (min-width: 768px) {
    footer {
      padding: 20px 30px 20px 30px; } }

.contact-box {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  @media print, (min-width: 768px) {
    .contact-box {
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.contact-box-icon {
  margin-right: 15px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  @media print, (min-width: 768px) {
    .contact-box-icon {
      display: initial; } }

.contact-box-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-right: 15px; }
  @media print, (min-width: 768px) {
    .contact-box-info {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

.view-source {
  display: none; }
  @media (min-width: 768px) {
    .view-source {
      box-sizing: content-box;
      background-color: #d5e5e4;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      color: #444444;
      text-decoration: none;
      display: block;
      padding: 5px;
      position: fixed;
      right: -40px;
      top: 50%;
      text-align: center;
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg);
      width: 100px;
      height: 20px; } }
  @media print {
    .view-source {
      display: none; } }
