$border-divider: 2px solid $font-color;
$padding-page-top: 20px; // plus section padding
$padding-page-bottom: 20px; // plus section padding
$padding-print-top: 40px;
$section-padding-vertical: 20px;
$section-padding-horizontal: 30px;
$main-margin: 60px;

.page {
  display: flex;
  flex-flow: column nowrap;

  @include desktop {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    flex-flow: row nowrap;
    margin: 0 auto;
  }

  @include desktop-exclude-print {
    max-width: 1100px;
  }
}

header {
  $padding-side: 20px;
  background-color: $header-color;
  text-align: center;

  @include desktop {
    flex: 0 0 270px + ($padding-side * 2);
    padding: $padding-page-top $padding-side $padding-page-bottom $padding-side;
  }
}

.header-section {
  padding: $section-padding-vertical 0;

  &:not(:last-child) {
    border-bottom: $border-divider;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%; // IE Flexbox bug workaround

  @include desktop {
    padding-top: $padding-page-top;
  }
}

.main-section {
  padding: $section-padding-vertical 0;
  margin: 0 $section-padding-horizontal;

  @include desktop {
    margin: 0 $section-padding-horizontal + 20px 0 $section-padding-horizontal;
  }
}

.profile {
  border-bottom: $border-divider;
}

.experience {
  flex: 1 0 auto;
}

footer {
  padding: 20px $section-padding-horizontal $padding-page-bottom $section-padding-horizontal;
  background-color: $footer-color;
  display: flex;
  flex-flow: row nowrap;

  @include desktop {
    padding: 20px $section-padding-horizontal $padding-page-bottom $section-padding-horizontal;
  }
}

.contact-box {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  @include desktop {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.contact-box-icon {
  margin-right: 15px;
  flex: 0 0 auto;

  @include desktop {
    display: initial;
  }
}

.contact-box-info {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 15px;

  @include desktop {
    justify-content: space-around;
  }
}

.view-source {
  display: none;

  @include desktop-exclude-print {
    $width: 100px;
    $height: 20px;

    box-sizing: content-box;
    background-color: $header-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: $font-color;
    text-decoration: none;
    display: block;
    padding: 5px;
    position: fixed;
    right: -(($width / 2) - ($height / 2));
    top: 50%;
    text-align: center;
    transform: rotateZ(90deg);
    width: $width;
    height: $height;
  }

  @media print {
    display: none;
  }
}
