$border-divider: 2px solid $font-color;
$padding-page-top: 20px; // plus section padding
$padding-page-bottom: 20px; // plus section padding
$padding-print-top: 40px;
$section-padding-vertical: 20px;
$section-padding-horizontal: 30px;
$main-margin: 60px;

.page {
  display: flex;
  flex-flow: column nowrap;

  @include desktop {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    flex-flow: row nowrap;
    margin: 0 auto;
  }

  @include desktop-exclude-print {
    max-width: 1100px;
  }
}

header {
  $padding-side: 20px;
  background-color: $header-color;
  text-align: center;

  & > section {
    padding: $section-padding-vertical 0;
  }

  & > section:not(:last-child) {
    border-bottom: $border-divider;
  }

  @include desktop {
    flex: 0 0 270px + ($padding-side * 2);
    padding: $padding-page-top $padding-side $padding-page-bottom $padding-side;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%; // IE Flexbox bug workaround

  & > section {
    padding: $section-padding-vertical 0;
    margin: 0 $section-padding-horizontal;

    @include desktop {
      margin: 0 $section-padding-horizontal + 20px 0 $section-padding-horizontal;
    }
  }

  @include desktop {
    padding-top: $padding-page-top;
  }
}

footer {
  padding: 20px $section-padding-horizontal $padding-page-bottom $section-padding-horizontal;
  background-color: $footer-color;
  display: flex;
  flex-flow: row nowrap;

  @include desktop {
    padding: 20px $section-padding-horizontal $padding-page-bottom $section-padding-horizontal;
  }
}

.profile {
  border-bottom: $border-divider;
}

.experience {
  flex: 1 0 auto;
}

.contact-box {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  @include desktop {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.contact-box-icon {
  margin-right: 15px;
  flex: 0 0 auto;

  @include desktop {
    display: initial;
  }
}

.contact-box-info {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 15px;

  @include desktop {
    justify-content: space-around;
  }
}

.view-source {
  display: none;

  @include desktop-exclude-print {
    $width: 100px;
    $height: 20px;

    box-sizing: content-box;
    background-color: $header-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: $font-color;
    text-decoration: none;
    display: block;
    padding: 5px;
    position: fixed;
    right: -(($width / 2) - ($height / 2));
    top: 50%;
    text-align: center;
    transform: rotateZ(90deg);
    width: $width;
    height: $height;
  }

  @media print {
    display: none;
  }
}

// Reusable components - gradually move into full Angular components
.icon-header {
  display: flex;
  align-items: center;
}

.icon-header-icon {
  margin-right: 10px;
}

.subtitle-header {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: $h2-bottom-margin;

  @include desktop {
    flex-flow: row wrap;
    align-items: center;
  }
}

.subtitle-header-title {
  margin-bottom: 0;
  margin-right: 10px;
}

.centered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
}

.offset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include desktop {
    margin-left: 25px;
    border-left: 1px solid $font-color;
  }
}

.offset-list-item {
  margin-bottom: 20px;

  @include desktop {
    margin-left: 20px;
    position: relative;

    &:before {
      $size: 15px;

      background-color: white;
      border-radius: 50%;
      border: 2px solid $font-color;
      content: "";
      display: block;
      height: $size;
      left: -21px - ($size / 2); // -1px to account for border
      position: absolute;
      top: ($size / 2);
      width: $size;
    }
  }
}
