header
  section
    h1.header-full-name {{ ::page.user.name }}
    h2.header-job-title {{ ::page.user.title }}
  section
    h2.header-cenetered
      | Expertise
    icon(icon-id="#check")
    ul.centered-list
      li.centered-list-item(ng-repeat='expertise in ::page.user.expertise') {{ ::expertise }}
  section
    h2
      | Tech Skill Set
    icon(icon-id="#markup")
    ul.centered-list
      li.centered-list-item(ng-repeat='skill in ::page.user.skills') {{ ::skill }}
main
  section.profile
    h2.icon-header
      icon.icon-header-icon(icon-id="#profile")
      span Profile
    p {{ ::page.user.profile }}
  section.experience
    h2.icon-header
      icon.icon-header-icon(icon-id="#briefcase")
      | Experience
    offset-list
      li(ng-repeat='job in ::page.user.jobs')
        project(data='job')

    h2.icon-header
      icon.icon-header-icon(icon-id="#fork")
      | Projects
    offset-list
      li(ng-repeat='project in ::page.user.projects')
        project(data='project')


    h2.icon-header
      icon.icon-header-icon(icon-id="#pencil")
      | Education
    offset-list
      li
        h2
          | {{ ::page.user.education.degree }}
        p
          strong {{ ::page.user.education.date | date: 'MMM yyyy' }}
          span {{ ::page.user.education.college }}

  footer
    icon.contact-box-icon(icon-id="#contact")
    .contact-box
      .contact-box-info
        strong {{ ::page.user.address }}, {{ ::page.user.zipcode }}
        a(href='mailto:{{ ::page.user.email }}')
          strong {{ ::page.user.email }}
      .contact-box-info
        strong {{ ::page.user.phone }}
        a(href='{{ ::page.user.link }}')
          strong {{ ::page.user.link }}
a.view-source(href='https://github.com/threehams/threehams.github.io/tree/master/src') View Source
