// sizes
$desktop-width: 768px;

// theme colors
$non-photo-blue: #A4DDED;

// fonts
body {
  font-family: 'Open Sans', 'Times New Roman', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {

}

h3 {

}

ul {

}

li {

}
