// Breakpoints, usually no more than 2.
$desktop-width: 768px;

// Colors used universally.
$header-color: #d5e5e4;
$footer-color: #f2f1eb;
$font-color: #444444;
// Fonts declared globally. Fonts outside of this file should be extremely rare.
body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 50px 0;

  @include desktop {
    font-size: 50px;
    letter-spacing: 6px;
  }
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 10px 0;

  @include desktop {
    font-size: 28px;
    letter-spacing: 4px;
  }
}

strong {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 6px 0 0;

  @include desktop {
    letter-spacing: 1px;
    font-size: 15px;
  }
}

ul {

}

li {

}

.hide {
  display: none;
}

p {
  margin: 0 0 10px 0;
}
