@import 'mixins';
@import 'constants';
@import 'base';

.hide {
  display: none;
}

.header {
  height: 200px;
  background-color: $non-photo-blue;
}

@import '../js/components/icon/icon-style';
@import '../js/pages/page/page-style';
